name: Deploy app to Docker Hub

on:
    workflow_dispatch:
        inputs:
            branch:
                description: 'Branch to run the workflow'
                required: true
                default: main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Dicker BuildX
              uses: docker/setup-buildx-action@v3
              
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_PASSWORD }}
            
            - name: Build and push image
              uses: docker/build-push-action@v4
              with:
                context: .
                push: true
                tags: |
                    ${{ secrets.DOCKER_HUB_USERNAME }}/calendar_planner:${{ github.sha }}
                    ${{ secrets.DOCKER_HUB_USERNAME }}/calendar_planner:latest
                build-args: |
                    BUILD_VERSION=${{ github.sha }}
